.text {
  overflow: hidden;
  hyphens: auto;
  text-overflow: ellipsis;
}

.colorDarkBlue90 {
  color: $darkBlue90;
}

.colorDarkGrey {
  color: $darkGrey;
}

.colorLightGrey {
  color: $grey80;
}

.colorLightBlue {
  color: $lightBlue;
}

.colorRed90 {
  color: $red90;
}

.colorStandardGrey {
  color: $standardGrey;
}

.colorWhite {
  color: $white;
}

.decorationNone {
  text-decoration: none;
}

.overflowBreakWord {
  word-break: break-word;
  overflow-wrap: break-word;
}

.overflowNormal {
  word-break: normal;
  overflow-wrap: normal;
}

.singleline {
  white-space: nowrap;
}

.multiline {
  white-space: normal;
}

.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: left;
}

.textAlignRight {
  text-align: right;
}

.weightRegular {
  font-weight: 400;
}

.weightSemibold {
  font-weight: 600;
}

.sizeL {
  font-size: 20px;
  line-height: 28px;
}

.sizeM {
  font-size: 16px;
  line-height: 24px;
}

.sizeS {
  font-size: 14px;
  line-height: 22px;
}

.sizeXS {
  font-size: 12px;
  line-height: 16px;
}

.sizeXXS {
  font-size: 10px;
  line-height: 12px;
}
