.container {
  display: flex;
  flex-flow: column nowrap;
}

.textAreaWrapper {
  position: relative;
  display: flex;
  flex: 1;
  padding: $spacing12 $spacing16;
  border: 1px solid $grey40;
  border-radius: $spacing4;
}

.textAreaWrapperError {
  border-color: $red90 !important;
}

.textAreaWrapper:focus-within {
  border: 1px solid $darkBlue90;
  box-shadow: 0 0 0 $spacing4 $darkGreen80;
}

.textArea {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: $darkBlue90;
  background: transparent;
  font-size: 16px;
  line-height: 24px;
  border: none;
}

.textArea:disabled {
  cursor: not-allowed;
  -webkit-text-fill-color: $darkBlue90;
  opacity: 1; /* required on iOS */
}

.textArea::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.textArea:focus {
  outline: none;
}

.textAreaResizeNone {
  resize: none;
}

.textAreaResizeVertical {
  resize: vertical;
}

.label {
  position: absolute;
  color: $darkBlue90;
  pointer-events: none;
  background: transparent;
  transition: transform 0.25s ease, font-size 0.25s ease;
  top: $spacing12;
  left: $spacing12;
  padding: 0 $spacing4;
}

.labelMinimized {
  transform: translateY(-$spacing40);
}

.details {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.errorText {
  width: 100%;
  padding: $spacing4 $spacing4 $spacing4 0;
}

.errorTextWithMaxLength {
  width: calc(100% - $spacing80);
}

.maxLength {
  flex: 0 0 $spacing80;
  padding: $spacing4 0;
}
