.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  direction: rtl;
  padding: $spacing8 $spacing36;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding-right: 14%;
  }
}

.about {
  display: flex;
  flex: 1;
}

.container a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  padding: $spacing8 0;
  text-decoration: none;
}
