.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  flex: 3;
}

.about {
  align-items: center;
  display: flex;
  flex: 1;
}

.container a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  padding: 8px;
  text-decoration: none;
}
