.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  direction: rtl;
  padding: $spacing8 $spacing36;
  transition: background-color 0.5s ease-in-out;
}

.containerDark {
  background-color: $darkBlue20;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding-right: 14%;
  }
}

.about {
  display: flex;
  cursor: pointer;
}
