@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Nunito Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.background {
  position: relative;
  min-height: 100%;
  width: 100vw;
  overflow: scroll;
  display: block;
}
