.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100vw;
  min-height: 100vh;
  padding: $spacing48 8% $spacing32;
  padding-top: $spacing48;
}

@media only screen and (min-width: 1024px) {
  .container {
    min-width: 800px;
    padding-right: 14%;
    padding-left: 14%;
  }
}
